
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MOKI</title>
        <link rel="stylesheet" href="/css/template.css">
        <link rel="stylesheet" href="/css/themsanpham.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <style>
           img {
            width: 150px;
            height: 150px;
          }
          #btn-report,#send-report{
              padding:5px;
              border:1px solid #000;
              border-radius:5px;
              margin-bottom:5px;
          }
          .text-report{
              width:200px;
              display:none;
          }
         
          #textarea{
              padding:5px;
          }
          #send-report{
              margin-left:58px;
          }
          #user-infomation{
              display:none;
          }
          #showphone{
              padding:10px 5px;
              width:380px;
              text-align:center;
              background-color:#679bef;
              border-radius:5px;
              font-weight:bold;
          }
          @media screen and (max-width : 1000px){
              th {
                  display:block;
              }
          }
      </style>
    </head>
    <body>
      <% include template/header %>
      
          <div class="row">
            <div class="column side" id="menuleft">
              <div id="sidebar">
                <ul>
                    <li><a class="active" href="/">Trang chinh</a></li>
                    <li><a href="#news">Tài khoản</a></li>
                    <li><a href="#about">Sản phẩm</a></li>
                    <li><a href="#contact">Hỗ trợ bán hàng</a></li>
                    <li><a href="#about">Trung tâm hỗ trợ</a></li>
                    <li><a href="#about">Quản lý bán hàng</a></li>
                    <li><a href="#about">Shop</a></li>
                 </ul>
             </div>
            </div>
    
            <div class="column middle">
              <% if(err){ %>
                <% err.forEach(function(error){%>
              <ul style="list-style: none;">
                <li><%- error.msg%></li>
              </ul>
              <%})%>
                <%}%>
                <div id="wrapper-addsp">
                    <div class="container">
                        <div class="row">
                          <div class="wrapper-image">
    
                            <h1 class="text-center display-4 my-4">Hình ảnh sản phẩm</h1>
                            <hr>
                            
                                    <img src="/image/<%= data.image %>" alt="">
                                    
    
                          </div>
                        </div>
                </div>
                <form action="/updatesp" method="POST">
                  <div class="add">
                  <input type="text" id ="textinput" name ="filename" value="<%= data._id%>" hidden>
                    <div style="display:inline;">
                    <div style="display:flex;">
                        <p id="name">Tên sản phẩm</p>
                        <input type="text" id ="textinput" name ="nameproduct" value="<%= data.name %>">
                   </div> 
                   <div style="display:flex;">
                       <p id = "description">Mô tả sản phẩm</p>
                       <textarea cols="50" rows="50" id="textarea" name="describleproduct"><%= data.describle%></textarea>
                   </div>         
                    <div>
                        <div id="list">Danh mục</div>
                        <div class="custom-select" >
                            <select name="attached">
                                    <option value="<%= data.attached%>"><%= data.attached%></option>
                            </select>
                        </div>
                    </div>
              
                        <div id="nhanhieu">Nhãn hiệu</div>
                        <div class="custom-select" >
                             <select name="label">
                                     <option value = "<%= data.label%>"><%= data.label%></option>
                                     <option value="Asus">Asus</option>
                                     <option value="Dell">Dell</option>
                                     <option value="HP">HP</option>
                                     <option value="Lenovo">Lenovo</option>
                                     <option value="Acer">Acer</option>
                             </select>
                    </div>

                    <div>
                            <div id="list">Bộ vi xử lí</div>
                            <div class="custom-select" >
                                <select name="chip">
                                        <option value="<%=data.chip%>"><%=data.chip%></option>
                                        <option value="Intel Core i3">Intel Core i3</option>
                                        <option value="Intel Core i5">Intel Core i5</option>
                                        <option value="Intel Core i7">Intel Core i7</option>
                                        <option value="Intel Core i9">Intel Core i9</option>
                                        <option value="khác">khác</option>
                                </select>
                            </div>
                        </div>


                    <div>
                       <div id="khoiluong">Khối lượng</div>
                       <div class="custom-select" >
                             <select name="weight">
                                  <option value = "<%= data.weight%>"><%= data.weight%></option>
                                  <option value="Nhỏ hơn 1 kg">Nhỏ hơn 1 kg</option>
                          <option value="1 kg"> 1 kg</option>
                          <option value="1.25 kg"> 1.25 kg</option>
                          <option value="1.5 kg"> 1.5 kg</option>
                          <option value="1.75 kg"> 1.75 kg</option>
                          <option value="2 kg"> 2 kg</option>
                          <option value="2.25 kg"> 2.25 kg</option>
                          <option value="2.5 kg"> 2.5 kg</option>
                          <option value="Lớn hơn 2.5 kg">Lớn hơn 2.5 kg</option>
                             </select>
                       </div>
                    </div>

                    <div>
                            <div id="list">RAM</div>
                            <div class="custom-select" >
                                <select name="ram">
                                <option value="<%=data.ram%>"><%=data.ram%></option>
                                  <option value="Nhỏ hơn 1 GB">Nhỏ hơn 1 GB</option>
                                  <option value="1 GB"> 1 GB</option>
                                  <option value="2 GB"> 2 GB</option>
                                  <option value="4 GB"> 4 GB</option>
                                  <option value="6 GB"> 6 GB</option>
                                  <option value="8 GB"> 8 GB</option>
                                  <option value="16 GB"> 16 GB</option>
                                  <option value="32 GB"> 32 GB</option>
                                  <option value="Lớn hơn 32 GB">Lớn hơn 32 GB</option>
                                </select>
                            </div>
                        </div>

                        <div>
                                <div id="list">Ổ cứng</div>
                                <div class="custom-select" >
                                    <select name="harddisk">
                                      <option value="<%=data.harddisk%>"><%=data.harddisk%></option>
                                        <option value="Nhỏ hơn 128 GB">Nhỏ hơn 128 GB</option>
                                      <option value="128 GB"> 128 GB</option>
                                      <option value="250 GB"> 250 GB</option>
                                      <option value="256 GB"> 256 GB</option>
                                      <option value="320 GB"> 320 GB</option>
                                      <option value="480 GB"> 480 GB</option>
                                      <option value="640 GB"> 640 GB</option>
                                      <option value="700 GB"> 700 GB</option>
                                      <option value="1 TB"> 1 TB</option>
                                      <option value="Lớn hơn 1 TB">Lớn hơn 1 TB</option>
                                    </select>
                                </div>
                            </div>
                            

                            <div>
                                    <div id="list">Loại ổ cứng</div>
                                    <div class="custom-select" >
                                        <select name="typeharddisk">
                                            <option value="<%=data.typeharddisk%>"><%=data.typeharddisk%></option>
                                          <option value="SSD">SSD</option>
                                          <option value="HHD">HHD</option>
                                        </select>
                                    </div>
                                </div>

                                <div>
                                        <div id="list">Card màn hình </div>
                                        <div class="custom-select" >
                                            <select name="card">
                                              <option value="<%=data.card%>"><%=data.card%></option>
                                              <option value="Onboard">Onboard</option>
                                              <option value="AMD">AMD</option>
                                              <option value="NVIDIA">NVIDIA</option>
                                              <option value="khác">khác</option>
                                            </select>
                                        </div>
                                    </div>


                      <div id="trangthai">Trạng thái </div>
                      <div class="custom-select" >
                        <select name="state">
                            <option value = "<%= data.state%>"><%= data.state%></option>
                             <option value="Còn mới">Còn mới</option>
                             <option value="Đã qua sử dụng">Đã qua sử dụng</option>
                        </select>
                      </div>
    
                        <div style="display:flex;">
                         <p id = "gia">Giá</p>
                         <input type="number" id="giatext" name="price" value="<%= data.price%>">
                        </div>
                      </div>
                      <div style="display:flex">
                          <input type="text" value="<%= user.username%>" name ="nameuser" hidden>
                            <input  class="button button2" type="submit" name="Chỉnh sửa" value="Chỉnh sửa">
                      </div>
                    </div>
                    </form>
                    <form action="/delete?_method=DELETE" method="POST">
                            <input type="text" value="<%= user.username%>" name ="nameuser" hidden>
                            <input   type="text" value="<%= data.image%>" name ="delete" hidden>
                            <input   type="text" value="<%= data.attached%>" name ="delete1" hidden>
                            <input  class="button button4" type="submit" name="Xóa sản phẩm" value="Xóa sản phẩm" >
                 
                       </form>
                </div>
                </div>
                </div>
           
         
          
          
     
         
          <% include template/footer %>
        
          <script src="/js/themsanpham.js"></script>
          <script src="/js/jqurey.js"></script>
    </body>
    <script>
    function uploadimage(){
     $("#taianh").attr("src",$("#ta").val());
    }
    </script>
    </html> 
