<style>
table,tr,td{
    border-collapse: collapse;
    padding:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select{
    width:200px;
}
</style>
<% include template/body1 %>
<div id = "container">
    <!-- header starts here-->
<% include template/header %>
<div id ="container_inner">
    <!-- nav starts here-->
<div id="container_inner_nav">
<div id="container_inner_nav-inner">
<% include template/nav %>
</div>
</div>
    <!-- content starts here -->
<div id = "container_inner_content">
<div id ="container_inner_content-inner">
    <div class="title-sp">
        Danh sách sản phẩm
       </div>
       <div id="filterProduct">
        <p> Lọc theo Sản Phẩm <i class="fa fa-angle-down" style="margin-right:660px"></i></p>
       </div>
       <div id="filter-wrapper" style="display:none;">
       
          <% if(user) {%>
            <form action="/maytinhdell/filter/<%-user.username %>" method="POST"> 
                <%}else { %>
                    <form action="/maytinhdell/filter" method="POST"> 
                    <% } %>
                Giá:<span id="Spanoutput"></span><br><br>
            <div id="slider"></div>
            
            <input type="text" id="txtMinPrice" name="txtMinPrice" hidden>
            <input type="text" id="txtMaxPrice" name="txtMaxPrice" hidden>
             <br><hr>
             
             <table>
             <tr>
                 <td>
             <label>Trạng thái</label></td>
             <td>
             <select name="filterState" id="filterState">
                 <option value=""></option>
                 <option value="Còn mới">Còn mới</option>
                 <option value="Đã qua sử dụng">Đã qua sử dụng</option>
             </select>
            </td>
            <td></td>
            <td></td>
            
            <td >
             <label>Khối lượng</label></td>
             <td>
             <select name="filterWeight" id="filterWeight">
                 
                     <option value=""></option>
                     <option value="Nhỏ hơn 1 kg">Nhỏ hơn 1 kg</option>
                     <option value="1 kg"> 1 kg</option>
                     <option value="1.25 kg"> 1.25 kg</option>
                     <option value="1.5 kg"> 1.5 kg</option>
                     <option value="1.75 kg"> 1.75 kg</option>
                     <option value="2 kg"> 2 kg</option>
                     <option value="2.25 kg"> 2.25 kg</option>
                     <option value="2.5 kg"> 2.5 kg</option>
                     <option value="Lớn hơn 2.5 kg">Lớn hơn 2.5 kg</option>
             </select>
            </td>
            </tr>

             <tr>
                 <td>
             <label>Ram</label>
                 </td>
                 <td>
             <select name="filterRam" class="filterSelect">
                    <option value=""></option>
                    <option value="Nhỏ hơn 1 GB">Nhỏ hơn 1 GB</option>
                    <option value="1 GB"> 1 GB</option>
                    <option value="2 GB"> 2 GB</option>
                    <option value="4 GB"> 4 GB</option>
                    <option value="6 GB"> 6 GB</option>
                    <option value="8 GB"> 8 GB</option>
                    <option value="16 GB"> 16 GB</option>
                    <option value="32 GB"> 32 GB</option>
                    <option value="Lớn hơn 32 GB">Lớn hơn 32 GB</option>
                  </select></td>
                  <td></td>
                  <td></td>
                  <td>
                  <label>Ổ cứng</label></td>
                <td>
                  <select name="filterHarddisk" class="filterSelect">
                        <option value=""></option>
                        <option value="Nhỏ hơn 128 GB">Nhỏ hơn 128 GB</option>
                      <option value="128 GB"> 128 GB</option>
                      <option value="250 GB"> 250 GB</option>
                      <option value="256 GB"> 256 GB</option>
                      <option value="320 GB"> 320 GB</option>
                      <option value="480 GB"> 480 GB</option>
                      <option value="640 GB"> 640 GB</option>
                      <option value="700 GB"> 700 GB</option>
                      <option value="1 TB"> 1 TB</option>
                      <option value="Lớn hơn 1 TB">Lớn hơn 1 TB</option>
                    </select></td>
                </tr>
                <tr>

                    <td>
                    <label>Loại ổ cứng</label></td>
                <td>
                    <select name="filterTypeharddisk" class="filterSelect">
                            <option value=""></option>
                            <option value="SSD">SSD</option>
                            <option value="HHD">HHD</option>
                          </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td >
                               
                    <label>Card màn hình</label>
                    </td>
                    <td>
                    <select name="filterCard" class="filterSelect">
                            <option value=""></option>
                            <option value="Onboard">Onboard</option>
                            <option value="AMD">AMD</option>
                            <option value="NVIDIA">NVIDIA</option>
                            <option value="khác">khác</option>
                          </select>
                        </td>

                        </tr>

                        <tr>   
                            <td colspan="6" style="text-align:center">                
                    <label>Bộ vi xử lí</label>
                    <select name="filterChip" class="filterSelect">
                            <option value=""></option>
                            <option value="Intel Core i3">Intel Core i3</option>
                            <option value="Intel Core i5">Intel Core i5</option>
                            <option value="Intel Core i7">Intel Core i7</option>
                            <option value="Intel Core i9">Intel Core i9</option>
                            <option value="khác">khác</option>
                    </select>
                </td>  
                </tr>  

                </table>

             <input type="submit" value="Lọc" id="filterSubmit">
             
         </form>
        
      </div>
       <div class="cuon-1" id =" frame-1">
         <table class="table-listproduct">
                 <tr class="table-listproduct">
                     <% if(user) {%>
                     <% if(data.length==0){%>
                      <h2>Bạn chưa đăng sản phẩm nào </h2>
                   <% } else {  data.forEach((da)=>{%>
                     <th style="display:inline-block;" class="table-listproduct">
                         <a href="/sp/sp/<%= da._id%>*<%-user.username%>"><img id="0" src="/image/<%= da.image%>" width="150px" height="150px"></a><br>
                         <span class ="ten" id = "ten-1"><%= da.name%></span><br>
                         <span class ="gia" id = "gia-1"><%= da.price%> VND</span><br>      
                     </th>
                   <% })} %>
                   <%} else {%>
                    <% if(data.length==0){%>
                        <h2>Bạn chưa đăng sản phẩm nào </h2>
                     <% } else {  data.forEach((da)=>{%>
                       <th style="display:inline-block;" class="table-listproduct">
                           <a href="/sp/sp/<%= da._id%>"><img id="0" src="/image/<%= da.image%>" width="150px" height="150px"></a><br>
                           <span class ="ten" id = "ten-1"><%= da.name%></span><br>
                           <span class ="gia" id = "gia-1"><%= da.price%> VND</span><br>      
                       </th>
                       <% })} %>
                    <% } %>
                
                 </tr>
         </table>
       </div>
</div>
</div>
<% include template/popup %>
    <!-- footer starts here-->
<div id = "container_inner_footer">
<% include template/footer %>
</div>
</div>

</body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    const formatter = new Intl.NumberFormat('it-IT',{
        style :'currency',
        currency : 'VND'
    })
    var from = formatter.format(1000000);
    var to = formatter.format(30000000);
    
$(document).ready(function(){
    var outputSpan = $("#Spanoutput");
    var sliderRange = $("#slider");
    $("#slider").slider({
        range:true,
        min:1000000,
        max:30000000,
        step:1000,
        values:[1000000,30000000],
        slide : function(event,ui){
            outputSpan.html(" Từ " + formatter.format(ui.values[0]) + "  đến  " +formatter.format(ui.values[1]));
            $("#txtMinPrice").val(formatter.format(ui.values[0]));
            $("#txtMaxPrice").val(formatter.format(ui.values[1]));
        }
    });
    var min = formatter.format(sliderRange.slider('values',0));
    var max = formatter.format(sliderRange.slider('values',1));
    outputSpan.html(" Từ " + min + " đến " + max);
    $("#txtMinPrice").val(min);
    $("#txtMaxPrice").val(max);
})
</script>

</html>
